body{
	margin: 0;
	padding: 0;

	font-family: "PT Sans", "Cuprum", sans-serif;
	font-weight: normal;
	color: #000000;
	background-color: #ffffff;
}
a{
	text-decoration: none;
}
/*Шапка*/

.container{
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}
.header-top .container{
	display: flex;
}
.header-logo {
  	background-color: #ee3643;
  	box-shadow: 0 5px 0 0 #ca2c37;
  	width: 220px;
}
.header-logo img{
	width: 111px;
	margin: 12px 55px 9px 55px;
}
.header-logo:hover,
.header-logo:focus{
	background-color: #ca2c37;
	box-shadow: 0 5px 0 0 #ba2732;
}
.visually-hidden{
	position: absolute;
    clip: rect(0 0 0 0);
  	width: 1px;
  	height: 1px;
  	margin: -1px;
}
.header-top{
	background-color: #293449;
	font-size: 17px;
	font-family: Cuprum;
	justify-content: space-between;
	align-items: center;
}

.searching-form {
  	width: 270px;
  	margin: 10px 49px;
  	position: relative;
}
.searching-form::before{
	content: "";
	position: absolute;
	top: 2px;
	left: -30px;
	width: 20px;
	height: 20px;
	background-image: url("../img/icon-search.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}
.searching{
	color: #ffffff;
	background-color: transparent;
	border: none;
}
.searching:hover{
	background-color: white;
	color: black;
	display: block;
    padding: 12px 10px;
    line-height: 19px;
    width: 270px;
}
.searching-form:hover{
	width: 270px;
	margin: 0;
}
.searching::placeholder{
	color: white;
}
.order-info{
  	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
}
.order-info a{
	text-decoration: none;
	color: white;
}
.button-order, .pre-order {
  	display: block;
  	padding: 12px 0px;
  	line-height: 19px;
}

.bookmark {
  	width: 100px;
  	padding-left: 45px;
  	position: relative;
}
.bookmark::before{
	content: "";
	position: absolute;
	top: 14px;
	left: 18px;
	width: 20px;
	height: 20px;
	background-image: url("../img/icon-bookmark.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.3;
}
.bookmark:hover::before{
	opacity: 1;
}
.cart {
  	width: 105px;
  	padding-left: 50px;
  	position: relative;
}
.cart::before{
	content: "";
	position: absolute;
	top: 13px;
	left: 21px;
	width: 20px;
	height: 20px;
	background-image: url("../img/icon-cart.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.3;
}
.cart:hover::before{
	opacity: 1;
}
.ordering{
	background-color: #63a63e;
	width: 150px;
	text-align: center;
}
.header-content{
	background-color: #f4f7f9;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	font-family: Cuprum;
	padding-bottom: 62px;
}
.site-info{
	display: flex;
	flex-direction: row;
	padding: 30px 0 25px 50px;
}
.about-site{
	font-size: 16px;
	font-style: italic;
	color: #ee3643;
	text-align: left;
	width: 200px;
	line-height: 23px;
}
.header-contacts{
	width: 270px;
	margin-left: 72px;
}
.phone-number{
	position: relative;
	font-size: 21px;
	text-align: left;
	color: #ee3643;
	border: 2px solid white;
	padding: 10px 0;
	padding-left: 70px;
	margin-top: 15px;
	margin-bottom: 0;
}
.phone-number::before{
	content: "";
	position: absolute;
	top: 13px;
	left: 15px;
	width: 20px;
	height: 20px;
	background-image: url("../img/icon-phone.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}
.address{
	font-size: 14px;
	text-align: center;
	color: #32425c;
	margin-top: 5px;
}
.user-navigation{
	display: flex;
	list-style: none;
	width: 285px;
	justify-content: space-between;
	margin-left: 25px;
}
.user-navigation a{
	display: block;
	font-size: 21px;
	text-align: center;
	color: black;
	background-color: white;
	text-decoration: none;
	padding: 10px;
	position: relative;
}
.user-navigation a:hover,
.user-navigation a:focus{
	color: #ee3643;
}
.login-link{
	width: 123px;
}
.login-link a{
	padding-left: 35px;
	position: relative;
}
.login-link a::before{
	content: "";
	position: absolute;
	top: 13px;
	left: 21px;
	width: 20px;
	height: 20px;
	background-image: url("../img/icon-login.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}
.register-link{
	width: 150px;
}
.main-navigation{
	box-shadow: inset 0px -5px 0 0 #293449;
  	background-color: #32425c;
  	display: flex;
  	flex-wrap: wrap;
  	justify-content: space-between;
  	list-style: none;
  	padding: 0 30px;
  	margin: auto;
  }
  .main-navigation a{
  	display: block;
  	padding: 20px 20px;
  }
.site-navigation-item{
	color: #ffffff;
	font-size: 17px;
	font-family: Cuprum;
}
.site-navigation-item:hover,
.site-navigation-item:focus{
	background-color: #1d2739;
}



/*Главная*/
.button{
	font: inherit;
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	font-family: Cuprum;
	background-color: #ee3643;
	color: #ffffff;
	text-decoration: none;
	padding: 10px 50px;
}
.button:hover,
.button:focus{
	background-color: #ca2c37;
}
.button:active{
	background-color: #ba2732;
}

/*Преимущества*/

.advantages {
  padding: 60px 0 55px;
}

.advantages-item{
  box-sizing: border-box;
  width: 300px;
  min-height: 123px;
  padding: 20px 30px;
}

.advantages-item h3 {
  margin-top: 0;
}
.advantages-item a{
  background-color: #e5ac40;
  width: 115px;
  font-size: 12px;
  text-transform: uppercase;
  color: white;
  padding: 10px 20px;
}
.advantages-conditions .advantages-item:nth-child(2) a{
	padding: 10px 30px;
}
.advantages-item:nth-child(2) a{
  background-color: #35a9cc;
}
.advantages-item:nth-child(3) a{
  background-color: #c682c2;
}
.advantages-conditions .advantages-item:first-child a{
  background-color: #80c180;
}
.advantages-conditions .advantages-item:nth-child(2) a{
  background-color: #e5ac40;
}
.advantages-goods{
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0 0 20px;
}
.advantages-goods .advantages-title{
	position: relative;
}
.advantages-goods .advantages-title::after{
	content: "";
	position: absolute;
	top: 10px;
	right: 20px;
	width: 44px;
	height: 65px;
	background-image: url("../img/icon-1.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}
.advantages-wrapper{
  	display: flex;
  	justify-content: space-between;
 }
.advantages-conditions{
  	list-style: none;
  	margin: 0;
  	padding: 0;
  	display: flex;
  	flex-direction: column;
  	justify-content: space-between;
}
.advantages-conditions .advantages-item {
  	margin-bottom: 20px;
}
.advantages-goods .advantages-item:first-child{
	background-color: #ffbf47;
}
.advantages-goods .advantages-item:nth-child(2){
	background-color: #3bbce3;
}
.advantages-goods .advantages-item:nth-child(3){
	background-color: #dc91d8;
}
.advantages-conditions .advantages-item:first-child{
	background-color: #8ed78f;
}
.advantages-conditions .advantages-item:nth-child(2){
	background-color: #ffc047;
}
.advantages-title{
	color: #ffffff;
	font-family: Cuprum;
	font-size: 24px;
	text-align: left;
}

/* Слайдер */

.slider{
	position: relative;
}
.slider-title{
	font-family: Cuprum;
	font-size: 36px;
	text-align: left;
	font-weight: bold;
	color: white;
	text-transform: uppercase;
	position: absolute;
	top: 6px;
	left: 65px;
}
.slider-content{
    margin: 0;
    padding: 0;
	list-style: none;
	
}
.slider-description{
	font-family: Cuprum;
	font-size: 18px;
	text-align: left;
	color: white;
	position: absolute;
	top: 60px;
	left: 65px;
}
.drill-button-back{
	position: absolute;
	top: 160px;
	left: 75px;
}
.drill-button-next{
	position: absolute;
	top: 160px;
	left: 620px;
}
.button-slider{
	position: absolute;
	top: 220px;
	left: 65px;
	border-radius: 2px;
}

/* Популярные товары */
.popular-items{
	padding: 0;
}

.popular-items-top{
	background-color: #f9f5f0;
	position: relative;
}
.popular-button{
	position: absolute;
	top: 30px;
	right: 23px;
	width: 155px;
	border-radius: 2px;
}
.item-title{
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	color: black;
	padding: 20px;
}
.catalog-item{
	display: flex;
	list-style: none;
	justify-content: space-between;
	padding: 0;
	margin: 0 0 50px;
	font-family: PTSans;
}
.catalog-item li{
	border: 1px solid lightgrey;
	width: 220px;
}
.manufacturers-list-top{
	display: flex;
	list-style: none;
	background-color: white;
	justify-content: space-between;
	padding: 0;
	margin: 0 0 20px;

}
.manufacturers-list-top li{
	border: 1px solid lightgrey;
	width: 220px;
	min-height: 145px;
}
.manufacturers-list-bottom{
	background-color: white;
	display: flex;
	list-style: none;
	justify-content: space-between;
	padding: 0;
	margin: 0 0 20px;
}
.manufacturers-list-bottom li{
	border: 1px solid lightgrey;
	min-height: 145px;
	width: 220px;
}
.catalog-item-old-price{
	font-size: 17px;
	text-align: center;
	font-weight: bold;
	text-decoration: line-through;
	color:#a9a9a9;
}

.catalog-item-price {
  	position: relative;
  	width: 80px;
  	color: white;
  	background: #ee3643;
  	border-radius: 3px;
  	margin: 0 70px;
}
.new-price{
	margin-top: 45px;
}
.catalog-item-price:after {
  	content: "";
  
  	position: absolute;
  	top: 0;
 	right: -20px;
  
  	width: 0;
  	height: 0;
  
  	border: 19px solid white;
 	border-left-color: #ee3643;
}


/* Сервисы */

.services{
	background-color: #f4f7f9;
}
.services-text {
	width: 400px;
	font-size: 13px;
	margin-right: auto;
}
.services-advantages{
	display: flex;
	justify-content: space-between;
	margin-right: auto;
}
.services-list-title{
	font-family: Cuprum;
	font-size: 30px;
	color: black;
	text-transform: uppercase;
}
.services a{
	background-color: #32425c;
	font-family: Cuprum;
	font-size: 21px;
	text-align: left;
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
}
.services-items,
.services-list{
	list-style: none;
}

.services a:hover,
.services a:focus{
	background-color: #293449;
}
.services a:active {
	background-color: #ffffff;
	color: #32425c;
}
.services .container{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.services-items{
	display: flex;
	flex-direction: column;
}
.services-bottom{
	display: flex;
	justify-content: space-between;
}
.company-info{
	width: 540px;
}
.company-contacts{
	width: 310px;
}
.carriers{
	font-family: Cuprum;
	font-size: 18px;
	font-weight: bold;
	color: black;
}
.main-bottom{
	margin-bottom: 90px;
}

/*Футер*/
.main-footer{
	margin-top: 90px;
	width: 100%
}
.footer-bottom .container{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer-top{
	background-color: #32425c;
	font-family: Cuprum;
	
}
.footer-bottom{
	background-color: #293449;
	font-family: Cuprum;
	
}
.footer-navigation-item{
	display: flex;
	justify-content: space-between;
}

.footer-navigation-top,
.footer-navigation-bottom{
	display: flex;
	justify-content: space-between;
	width: 550px;
	margin: 0 10px;
	padding: 0;
	list-style: none;
}
.footer-navigation-top{
	margin-top: 45px;
	margin-bottom: 50px;
}
.footer-logo {
	display: block;
	width: 220px;
  	height: 70px;
  	box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  	background-color: #ee3643;
}
.footer-logo:hover,
.footer-logo:focus{
	background-color: #ca2c37;
}
.footer-logo img{
	width: 111px;
	margin: 0px 55px 0px 55px;
}
.footer-contacts{
	font-size: 18px;
	text-align: left;
	color: #f3f7f9;
	width: 325px;
}
.site-navigation-footer-item{
	font-size: 13px;
	text-align: left;
	color: #f3f7f9;
	text-decoration: none;
}
.site-navigation-footer-item:hover,
.site-navigation-footer-item:focus{
	text-align: left;
	color: #f3f7f9;
	text-decoration: underline;
}
.footer-navigation-item-colortext{
	font-size: 13px;
	text-align: left;
	color: #ffd180;
	text-decoration: none;
}
.footer-navigation-item-colortext:hover,
.footer-navigation-item-colortext:focus{
	font-size: 13px;
	text-align: left;
	color: #ffd180;
	text-decoration: underline;
}
.footer-copyright{
	font-size: 16px;
	text-align: left;
	color: #ffffff;
	width: 230px;
}
.social-networks{
	display: flex;
	width: 150px;
	justify-content: space-between;
	list-style: none;
}
.social-button{
	background-color: #212a3a;
}
.social-button:hover,
.social-button:focus{
	background-color: #ee3643;
}
.footer-call-back{
	font-size: 16px;
	text-align: left;
	color: #ffffff;
}
.footer-mail-info a{
	text-decoration: none;
}
.footer-mail-info{
	width: 140px;
}
.web-site{
	font-size: 16px;
	text-align: left;
	color: #ffd180;
}
.mail:focus,
.mail:hover,
.web-site:focus,
.web-site:hover{
	color: #ffd180;
	text-decoration: underline;
}


/*Каталог*/

.catalog-header
{
	background-color: #f4f7f9;
}
.user-name{
	background-color: white;
	color: black;
	font-size: 21px;
	font-family: Cuprum;
}
.user-info{
	font-family: Cuprum;
	font-size: 16px;
	text-align: left;
	color: #32425c;
	text-decoration: underline;
}
.breadcrumbs li{
	text-align: left;
	color: black;
	text-transform: uppercase;
}
.filter-item{
	background-color: #f7f3ec;
	text-align: left;
	color: black;
}
.filter-price{
	border: none;
}
.filter-manufacturers{
	border: none;
}
.filter-nutrition{
	border: none;
}
legend{
	font-family: PTSans;
	font-size: 17px;
	font-weight: bold;
	text-transform: uppercase;
	color: black;
}
.filter-option{
	font-family: PTSans;
	font-size: 15px;
	text-align: left;
	color: black;
	text-transform: uppercase;
}
.sort-by{
	text-align: left;
	text-transform: uppercase;
	color: black;
}
.sort-by a{
	text-align: left;
	text-transform: uppercase;
	color: rgb(172, 170, 165);
	border-bottom: dotted; 
}
.sort-by a:hover,
.sort-by a:focus{
	color: black;
	border-bottom: none;
	text-decoration: underline;
}
.sort-by a:active{
	color: #ee3643;
	border-bottom: none;
	text-decoration: none;
}
.button-buy{
	background-color: #63a63e;
	color: #ffffff;
	font-family: Cuprum;
	font-size: 14px;
}
.button-bookmarks{
	color: #32425c;
	font-family: Cuprum;
	font-size: 14px;
	border: 2px solid #63a63e;
}
.button-buy:focus,
.button-buy:hover{
	background-color: #5fbb2d;
}
.button-bookmarks:focus,
.button-bookmarks:hover{
	border: 2px solid #32425c;
}
.pagination-item{
	text-align: center;
	color: black;
}
.pagination-item-current{
	text-align: center;
	color: white;
	background-color: #ee3643;
}
.about-items{
	background-color: #f4f7f9;
}
label{
	font-family: Cuprum;
	font-size: 18px;
	text-align: left;
	color: black;
}

.added{
	font-family: Cuprum;
	text-align: center;
	color: black;
	font-size: 30px;
}






