body{
	margin: 0;
	padding: 0;

	font-family: "PT Sans", "Cuprum", sans-serif;
	font-weight: normal;
	color: #000000;
	background-color: #ffffff;
}
/*Шапка*/
ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
a {
 	text-decoration: none;
 	color: white;
}
.main-header{
	margin-bottom: 60px;
}
.container{
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}
.header-top .container{
	display: flex;
}
.header-logo {
	width: 111px;
  	background-color: #ee3643;
  	box-shadow: 0 5px 0 0 #ca2c37;
}
.header-logo:hover,
.header-logo:focus{
	background-color: #ca2c37;
	box-shadow: 0 5px 0 0 #ba2732;
}
.visually-hidden{
	position: absolute;
    clip: rect(0 0 0 0);
  	width: 1px;
  	height: 1px;
  	margin: -1px;
}
.header-top{
	background-color: #293449;
	font-size: 17px;
	font-family: Cuprum;
	justify-content: space-between;
	align-items: center;
}
.searching{
	text-align: left;
	color: #ffffff;
	background-color: transparent;
	border: none;
	width: 160px;
	margin: 0 auto;
	padding: 0;
}
.searching:hover{
	background-color: white;
	color: black;
}
.searching::placeholder{
	color: white;
}
.order-info{
	width: 460px;
	display: flex;
	margin: 0;
	padding: 10px 0;
	margin-left: auto;
}
.order-info a{
	text-align: left;
	color: #ffffff;
}
.ordering{
	text-align: left;
	color: #ffffff;
	background-color: #63a63e;
	width: 150px;
	height: 42px;
}
.header-content{
	background-color: #f4f7f9;
	margin: 0;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	font-family: Cuprum;
}
.about-site{
	font-size: 16px;
	font-style: italic;
	color: #ee3643;
	text-align: left;
	width: 200px;
	margin: 54px 50px;
}
.site-info{
	display: flex;
	flex-direction: row;
}
.header-contacts{
	margin: auto;
	width: 270px;
}
.phone-number{
	font-size: 21px;
	text-align: left;
	color: #ee3643;
	border: 2px solid white;
	padding: 5px 60px;
}
.address{
	font-size: 14px;
	text-align: center;
	color: #32425c;
}
.user-navigation{
	display: flex;
	margin: auto;
}
.user-navigation a{
	font-size: 21px;
	text-align: left;
	color: black;
	background-color: white;
}
.user-navigation a:hover,
.user-navigation a:focus{
	color: #ee3643;
}
.main-navigation{
	box-shadow: inset 0px -5px 0 0 #293449;
  	background-color: #32425c;
  	display: flex;
  	flex-wrap: wrap;
  	justify-content: space-between;
  	list-style: none;
  	padding: 20px 45px;
}
.site-navigation-item{
	color: #ffffff;
	font-size: 17px;
	font-family: Cuprum;
}
.site-navigation-item:hover,
.site-navigation-item:focus{
	background-color: #1d2739;
}



/*Главная*/

/*Преимущества*/


.advantages-goods .advantages-item:first-child{
	background-color: #ffbf47;
}
.advantages-goods .advantages-item:nth-child(2){
	background-color: #3bbce3;
}
.advantages-goods .advantages-item:nth-child(3){
	background-color: #dc91d8;
}
.advantages-conditions .advantages-item:first-child{
	background-color: #8ed78f;
}
.advantages-conditions .advantages-item:nth-child(2){
	background-color: #ffc047;
}
.advantages-title{
	color: #ffffff;
	font-family: Cuprum;
	font-size: 24px;
	text-align: left;
}
.advantages-description{
	color: #ffffff;
	font-family: Cuprum;
	font-size: 14px;
	text-align: center;
}

.advantages-goods{
	display: flex;
	list-style: none;
	width: 100%;
	justify-content: space-between;
	margin: 0;
}

.advantages-item{
	width: 300px;
}
.advantages-wrapper{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 50px;
}

/* Слайдер */


.slider-title{
	font-family: Cuprum;
	font-size: 36px;
	text-align: left;
	font-weight: bold;
	color: black;
	text-transform: uppercase;
}
.slider-description{
	font-family: Cuprum;
	font-size: 18px;
	text-align: left;
	color: black;
}
.button{
	font: inherit;
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	font-family: Cuprum;
	background-color: #ee3643;
	color: #ffffff;
}
.button:hover,
.button:focus{
	background-color: #ca2c37;
}
.button:active{
	background-color: #ba2732;
}

/* Популярные товары */
.title-main{
	font-family: Cuprum;
	font-size: 30px;
	color: black;
	text-transform: uppercase;	
	padding-bottom: 30px;
	padding-left: 30px;
	padding-top: 30px;
}
.popular-items{
	background-color: #f9f5f0;
}
.item-title{
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	color: black;
}
.catalog-item{
	display: flex;
	list-style: none;
	width: 100%;
	justify-content: space-between;
	margin-bottom: 25px;
	font-family: PTSans;
}
.catalog-item li{
	border: 1px solid lightgrey;
}
.manufacturers-list-top{
	display: flex;
	list-style: none;
	width: 100%;
	background-color: white;
	justify-content: space-between;
}
.manufacturers-list-top li{
	border: 1px solid lightgrey;
}
.manufacturers-list-bottom{
	background-color: white;
	display: flex;
	list-style: none;
	width: 100%;
	justify-content: space-between;
	margin: 0;
}
.manufacturers-list-bottom li{
	border: 1px solid lightgrey;
}
.catalog-item-old-price{
	font-size: 17px;
	text-align: center;
	font-weight: bold;
	text-decoration: line-through;
	color:#a9a9a9;;
}
.catalog-item-price{
	font-size: 17px;
	text-align: center;
	font-weight: bold;
	background-color: #ee3643;
	color: white;
}

/* Сервисы */

.services{
	background-color: #f4f7f9;
	margin-bottom: 80px;
}
.services-list-title{
	font-family: Cuprum;
	font-size: 30px;
	color: black;
	text-transform: uppercase;
}
.services a{
	background-color: #32425c;
	font-family: Cuprum;
	font-size: 21px;
	text-align: left;
	color: #ffffff;
	font-weight: bold;
}
.services a:hover,
.services a:focus{
	background-color: #293449;
}
.services a:active {
	background-color: #ffffff;
	color: #32425c;
}
.services .container{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.services-items{
	display: flex;
	flex-direction: column;
}
.services-bottom{
	display: flex;
	justify-content: space-between;
}
.company-info{
	width: 540px;
}
.company-contacts{
	width: 310px;
}
.carriers{
	font-family: Cuprum;
	font-size: 18px;
	font-weight: bold;
	color: black;
}
.main-bottom{
	margin-bottom: 90px;
}

/*Футер*/
.main-footer{
	margin-top: 90px;
	width: 100%
}
.footer-bottom .container{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer-top{
	background-color: #32425c;
	font-family: Cuprum;
	
}
.footer-bottom{
	background-color: #293449;
	font-family: Cuprum;
	
}
.footer-navigation-item{
	display: flex;
	justify-content: space-between;
}
.footer-navigation-top{
	display: flex;
	justify-content: space-between;
	width: 550px;
	margin: 0 10px;
	padding: 0;
}
.footer-navigation-bottom{
	display: flex;
	justify-content: space-between;
	width: 550px;
	margin: 0 10px;
}
.footer-logo {
	display: block;
	width: 220px;
  	height: 70px;
  	box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  	background-color: #ee3643;
}
.footer-logo:hover,
.footer-logo:focus{
	background-color: #ca2c37;
}
.footer-contacts{
	font-size: 18px;
	text-align: left;
	color: #f3f7f9;
}
.site-navigation-footer-item{
	font-size: 13px;
	text-align: left;
	color: #f3f7f9;
}
.site-navigation-footer-item:hover,
.site-navigation-footer-item:focus{
	text-align: left;
	color: #f3f7f9;
	text-decoration: underline;
}
.footer-navigation-item-colortext{
	font-size: 13px;
	text-align: left;
	color: #ffd180;
}
.footer-navigation-item-colortext:hover,
.footer-navigation-item-colortext:focus{
	font-size: 13px;
	text-align: left;
	color: #ffd180;
	text-decoration: underline;
}
.footer-copyright{
	font-size: 16px;
	text-align: left;
	color: #ffffff;
	width: 230px;
}
.social-networks{
	display: flex;
	width: 150px;
	justify-content: space-between;
}
.social-button{
	background-color: #212a3a;
}
.social-button:hover,
.social-button:focus{
	background-color: #ee3643;
}
.footer-call-back{
	font-size: 16px;
	text-align: left;
	color: #ffffff;
}
.footer-mail-info{
	width: 140px;
}
.web-site{
	font-size: 16px;
	text-align: left;
	color: #ffd180;
}
.mail:focus,
.mail:hover,
.web-site:focus,
.web-site:hover{
	color: #ffd180;
	text-decoration: underline;
}


/*Каталог*/

.catalog-header
{
	background-color: #f4f7f9;
}
.user-name{
	background-color: white;
	color: black;
	font-size: 21px;
	font-family: Cuprum;
}
.user-info{
	font-family: Cuprum;
	font-size: 16px;
	text-align: left;
	color: #32425c;
	text-decoration: underline;
}
.breadcrumbs li{
	text-align: left;
	color: black;
	text-transform: uppercase;
}
.filter-item{
	background-color: #f7f3ec;
	text-align: left;
	color: black;
}
.filter-price{
	border: none;
}
.filter-manufacturers{
	border: none;
}
.filter-nutrition{
	border: none;
}
legend{
	font-family: PTSans;
	font-size: 17px;
	font-weight: bold;
	text-transform: uppercase;
	color: black;
}
.filter-option{
	font-family: PTSans;
	font-size: 15px;
	text-align: left;
	color: black;
	text-transform: uppercase;
}
.sort-by{
	text-align: left;
	text-transform: uppercase;
	color: black;
}
.sort-by a{
	text-align: left;
	text-transform: uppercase;
	color: rgb(172, 170, 165);
	border-bottom: dotted; 
}
.sort-by a:hover,
.sort-by a:focus{
	color: black;
	border-bottom: none;
	text-decoration: underline;
}
.sort-by a:active{
	color: #ee3643;
	border-bottom: none;
	text-decoration: none;
}
.button-buy{
	background-color: #63a63e;
	color: #ffffff;
	font-family: Cuprum;
	font-size: 14px;
}
.button-bookmarks{
	color: #32425c;
	font-family: Cuprum;
	font-size: 14px;
	border: 2px solid #63a63e;
}
.button-buy:focus,
.button-buy:hover{
	background-color: #5fbb2d;
}
.button-bookmarks:focus,
.button-bookmarks:hover{
	border: 2px solid #32425c;
}
.pagination-item{
	text-align: center;
	color: black;
}
.pagination-item-current{
	text-align: center;
	color: white;
	background-color: #ee3643;
}
.about-items{
	background-color: #f4f7f9;
}
label{
	font-family: Cuprum;
	font-size: 18px;
	text-align: left;
	color: black;
}

.added{
	font-family: Cuprum;
	text-align: center;
	color: black;
	font-size: 30px;
}






